p{
    background-color: burlywood;
    border-bottom: cornflowerblue solid 5px;
    
}
.formata{
    background-color: red;
    text-decoration: underline;
}
#unico{
    background-color: black; 
    color:white;
}